* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  list-style: none;
  background: none;
  text-decoration: none;
  font-weight: 100
}

body {
  font: 100 14px/21px helvetica, arial, sans-serif
}

div#people {
  width: 720px;
  margin: 0 auto;
  border-radius: 7px
}

  div#people div.person {
    width: 360px;
    height: 360px;
    float: left;
    box-shadow: 24px 0 20px -20px #ddd;
    padding: 5px
  }
  
    div.person h1 {
      font-size: 18px
    }
  
    div.person h2 {
      font-size: 14px
    }
    
    div.person div.profile_info:before {
      content: "Profile Info";
      display: block;
      margin-bottom: 10px;
      font-size: 14px;
      background: #a22;
      color: #fff;
      padding: 1px 4px;
      border-left: 1px solid #f77;
      border-right: 1px solid #911;
    }
    
    div.person ul.timeline:before {
      content: "Timeline";
      display: block;
      margin-bottom: 10px;
      font-size: 14px;
      background: #e5e5e5;
      color: #222;
      padding: 1px 4px;

    }
    
    div.person ul.timeline {
      margin-top: 20px;
      overflow-y: auto;
      height: 240px
    }
    
    div.person ul.timeline li span {
      font-weight: bold
    }